<div id="container">
  <div id="box-login">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages" %>

      <div id="avatar">
        <h2 id="register">Registrar</h2>
        <%= image_tag 'profile.svg', alt: 'Avatar', width: '50%' %>
      </div>

      <div class="forms">
        <%= form_group_for f, :email, label: false  do %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
            placeholder: "Email", class: "input" %>
        <% end %>

        <%= form_group_for f, :password, label: false  do %>    
          <%= f.password_field :password, autocomplete: "new-password",
            placeholder: "Senha com mínimo 6 caracteres", class: "input" %>
        <% end %>

        <%= form_group_for f, :password_confirmation, label: false do %> 
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
            placeholder: "Repita a senha", class: "input" %>
        <% end %>

        <div class="select-role">
          <%= f.label :role, 'Cadastrar como:' %>
          <%= f.select(:role, [['Candidato', 'candidate'], ['Headhunter', 'headhunter']]) %>
        </div>
      </div> 
          
      <div class="button">
        <%= f.submit t('.sign_up'), id: "button" %>
      </div>

    <% end %>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>