<div class="container">

  <div id="content-box">
    <h2 class="profile">Meu Perfil</h2>

    <%= form_with model: @candidate_profile, local: true do |form| %>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="photo-profile">
        <%= image_tag("default-avatar.jpg", size: "100x100", alt: "Foto de Perfil") %> 
        <%= form.label :photo %>
        <p><%= form.file_field :photo, id: "file" %></p>
      </div>

      <fieldset>
        <legend>
          <p><%= form.label :first_name%></p>
        </legend>
          <p><%= form.text_field :first_name %></p>
      </fieldset>

      <fieldset>
        <legend>
          <p><%= form.label :lastname %></p>
        </legend>
          <p><%= form.text_field :lastname  %></p>
      </fieldset>

      <fieldset>
        <legend>
          <p><%= form.label :about_me %></p>
        </legend>
          <p><%= form.text_field :about_me  %></p>
      </fieldset>

      <fieldset>
        <legend>
          <p><%= form.label :birthdate %></p>
        </legend>
          <p><%= form.date_field :birthdate  %></p>
      </fieldset>

      <fieldset>
        <legend>
          <p><%= form.label :degree %></p>
        </legend>
          <p><%= form.text_field :degree  %></p>
      </fieldset>
          
      <fieldset>
        <legend>
          <p><%= form.label :experience %></p>
        </legend>
          <p><%= form.text_field :experience  %></p>
      </fieldset>

      <p><%= form.submit 'Salvar', id: "save-button"  %></p>

    <% end %>
  </div>
</div>