<nav id="navbar">
  <a href="/" id="logo">Headhunter</a>
  <div id="navbar-right">
    <% if user_signed_in? %>
      <a><%= "Olá #{current_user.email}"%></a>
      <%= link_to 'Meu Perfil', current_user.candidate_profile %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
      <%= link_to 'Registrar', new_user_registration_path %>
    <% end %>
  </div>
</nav>